---
import Default from '../layouts/Default.astro';
import Heading from '../components/base/Heading.astro';
import Card from '../components/base/Card.astro';
import FormItem from '../components/base/FormItem.astro';
import Input from '../components/base/Input.astro';
import { Icon } from 'astro-icon/components';
import SearchResultPreview from '../components/google/SearchResultPreview.astro';
import { Content } from '../contents/tools/google-search-result-preview.md';
---

<Default
  title="Google Search Result Preview | SEO Tool"
  description="Google search result preview tool adalah alat bantuan untuk mensimulasi halaman website di hasil pencarian google secara realtime dan otomatis."
>
  <main class="container mx-auto px-4 space-y-6">
    <Heading description="Simulasi Halaman Website di Hasil Pencarian Google.">
      Google Search Result Preview
    </Heading>

    <div class="flex flex-col gap-6 items-center xl:flex-row xl:items-stretch">
      <Card class="space-y-4 w-full xl:flex-grow">
        <FormItem
          id="site_title_input"
          wrapperId="site_title"
          label="Judul Halaman"
          message="Judul direkomendasikan sebaiknya kurang dari 60 karakter."
          messageColor="warning"
          messageVisibleByGroup
          countChars
        >
          <Input
            type="text"
            id="site_title_input"
            placeholder="My Website"
            name="site_title_input"
            data-count-chars
          />
        </FormItem>
        <FormItem id="site_name" label="Nama Website">
          <Input
            type="text"
            id="site_name"
            placeholder="Website"
            name="site_name"
          />
        </FormItem>
        <FormItem id="site_url" label="URL Halaman">
          <Input
            type="text"
            id="site_url"
            placeholder="https://website.my.id"
            name="site_url"
          />
        </FormItem>
        <FormItem
          id="site_description_input"
          wrapperId="site_description"
          label="Deskripsi"
          message="Deskripsi direkomendasikan sebaiknya kurang dari 155 karakter."
          messageColor="warning"
          messageVisibleByGroup
          countChars
        >
          <Input
            tag="textarea"
            rows="4"
            id="site_description_input"
            placeholder="My website description."
            name="site_description_input"
            data-count-chars
          />
        </FormItem>
        <FormItem id="site_icon" label="Icon">
          <Input type="file" accept="image/*" id="site_icon" name="site_icon" />
        </FormItem>
        <FormItem id="site_publish_date" label="Tanggal Publish">
          <Input
            type="datetime-local"
            id="site_publish_date"
            name="site_publish_date"
          />
        </FormItem>
      </Card>

      <div
        id="preview_wrapper"
        class="group device-desktop w-full xl:w-fit xl:flex-shrink-0 xl:flex xl:flex-col"
      >
        <nav
          class="hidden md:border-slate-200 md:rounded-t-lg md:border-2 md:border-b-0 md:bg-white md:grid md:grid-cols-2"
        >
          <button
            data-toggle-preview-device="desktop"
            class="flex items-center gap-2 justify-center border-b-2 group-[.device-desktop]:border-red-700 group-[.device-mobile]:border-slate-200 p-3 text-slate-900 rounded-tl group-[.device-mobile]:cursor-pointer rounded-tl group-[.device-mobile]:hover:bg-slate-50"
          >
            <Icon name="tabler:device-desktop" />
            Desktop
          </button>
          <button
            data-toggle-preview-device="mobile"
            class="flex items-center gap-2 justify-center border-b-2 group-[.device-mobile]:border-red-700 group-[.device-desktop]:border-slate-200 p-3 text-slate-900 group-[.device-desktop]:cursor-pointer rounded-tr group-[.device-desktop]:hover:bg-slate-50"
          >
            <Icon name="tabler:device-mobile" />
            Mobile
          </button>
        </nav>
        <Card
          customBorder
          class="grow border-2 border-slate-200 rounded-lg font-preview-google-sans md:border-t-0 md:rounded-t-none"
        >
          <div
            class="space-y-10 md:group-[.device-mobile]:w-[375px] md:group-[.device-desktop]:w-[652px]"
          >
            <SearchResultPreview />
            <SearchResultPreview skeleton type="1" />
            <SearchResultPreview skeleton type="2" />
          </div>
        </Card>
      </div>
    </div>

    <div class="prose prose-slate prose-h2:first:mt-0 mx-auto">
      <Card>
        <Content />
      </Card>
    </div>
  </main>
</Default>

<script>
  import dayjs from 'dayjs';
  import localizedFormat from 'dayjs/plugin/localizedFormat';

  dayjs.extend(localizedFormat);

  const siteTitle = document.querySelector('#site_title') as HTMLInputElement;
  const siteTitleInput = document.querySelector(
    '#site_title_input',
  ) as HTMLInputElement;
  const siteName = document.querySelector('#site_name') as HTMLInputElement;
  const siteUrl = document.querySelector('#site_url') as HTMLInputElement;
  const siteDescription = document.querySelector(
    '#site_description',
  ) as HTMLInputElement;
  const siteDescriptionInput = document.querySelector(
    '#site_description_input',
  ) as HTMLInputElement;
  const siteIcon = document.querySelector('#site_icon') as HTMLInputElement;
  const sitePublishDate = document.querySelector(
    '#site_publish_date',
  ) as HTMLInputElement;

  const previewWrapper = document.querySelector(
    '#preview_wrapper',
  ) as HTMLDivElement;
  const previewName = document.querySelector(
    '#preview_name',
  ) as HTMLParagraphElement;
  const previewUrlOrigin = document.querySelector(
    '#preview_url_origin',
  ) as HTMLParagraphElement;
  const previewUrlBreadcrumb = document.querySelector(
    '#preview_url_breadcrumb',
  ) as HTMLParagraphElement;
  const previewTitle = document.querySelector(
    '#preview_title',
  ) as HTMLParagraphElement;
  const previewDescription = document.querySelector(
    '#preview_description',
  ) as HTMLParagraphElement;
  const previewIcon = document.querySelector('#preview_icon') as HTMLDivElement;

  const togglePreviewDeviceButtons = document.querySelectorAll(
    '[data-toggle-preview-device]',
  );

  const defaultPreviewTitle = previewTitle.textContent.trim();
  const defaultPreviewName = previewName.textContent.trim();
  const defaultPreviewUrl = previewUrlOrigin.textContent.trim();
  const defaultPreviewDescription = previewDescription.textContent.trim();

  siteTitleInput.addEventListener('input', (e) => {
    const input = siteTitleInput.value || defaultPreviewTitle;

    if (input.length > 60) {
      siteTitle.classList.add('message-visible');
    } else {
      siteTitle.classList.remove('message-visible');
    }

    previewTitle.innerText = truncate(input, 60);
  });
  siteName.addEventListener('input', (e) => {
    previewName.innerText = siteName.value || defaultPreviewName;
  });
  siteUrl.addEventListener('input', (e) => {
    const input = siteUrl.value || defaultPreviewUrl;
    try {
      const url = new URL(
        input.startsWith('https://') || input.startsWith('http://')
          ? input
          : `http://${input}`,
      );
      const separator = ' › ';

      const paths = url.pathname
        .split('/')
        .filter((path) => path !== '')
        .join(separator);

      previewUrlOrigin.innerText = url.origin;
      previewUrlBreadcrumb.innerText = paths
        ? `${url.origin} › ${paths}`
        : url.origin;
    } catch {
      const url = input;
      previewUrlOrigin.innerText = url;
      previewUrlBreadcrumb.innerText = url;
    }
  });
  siteDescriptionInput.addEventListener('input', (e) => {
    const input = siteDescriptionInput.value || defaultPreviewDescription;

    if (input.length > 155) {
      siteDescription.classList.add('message-visible');
    } else {
      siteDescription.classList.remove('message-visible');
    }

    setPreviewDescription();
  });
  sitePublishDate.addEventListener('input', (e) => {
    setPreviewDescription();
  });
  siteIcon.addEventListener('input', () => {
    const iconImg = previewIcon.querySelector('img') as HTMLImageElement;

    if (!siteIcon.files?.length) {
      URL.revokeObjectURL(iconImg.src);

      iconImg.src = '';
      previewIcon.classList.remove('active');

      return;
    }

    const imgSrc = URL.createObjectURL(siteIcon.files[0]);

    iconImg.src = imgSrc;

    previewIcon.classList.add('active');
  });

  togglePreviewDeviceButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const dataset = (button as HTMLButtonElement).dataset;

      if (dataset.togglePreviewDevice === 'mobile') {
        previewWrapper.classList.remove('device-desktop');
        previewWrapper.classList.add('device-mobile');
      } else {
        previewWrapper.classList.remove('device-mobile');
        previewWrapper.classList.add('device-desktop');
      }
    });
  });

  function setPreviewDescription() {
    const innerText = truncate(
      siteDescriptionInput.value || defaultPreviewDescription,
      155,
    );

    if (sitePublishDate.value) {
      const publishDate = dayjs(sitePublishDate.value).format('DD MMM YYYY');

      previewDescription.innerHTML = `<span>${publishDate}</span> — ${innerText}`;

      return;
    }

    previewDescription.innerText = innerText;
  }

  function truncate(text: string, length: number): string {
    if (text.length <= length) {
      return text;
    }

    let end = length;

    while (end < text.length && text[end] !== ' ') {
      end++;
    }

    return text.slice(0, end) + '...';
  }
</script>
