---
interface Props {
  id: string;
  label: string;
  message?: string;
  messageColor?: 'default' | 'warning';
  messageVisibleByGroup?: boolean;
  wrapperId?: string;
  countChars?: boolean;
}

const {
  id,
  label,
  message,
  messageColor = 'default',
  messageVisibleByGroup = false,
  wrapperId = '',
  countChars = false,
} = Astro.props;

const messageColorClass = {
  default: 'text-slate-500',
  warning: 'text-amber-700',
}[messageColor];
---

<div
  id={wrapperId}
  class={`flex flex-col gap-1 ${messageVisibleByGroup ? 'group' : ''}`}
>
  <div class="flex justify-between">
    <label for={id}>{label}</label>
    {
      countChars && (
        <span id={`${id}-count-chars`} class="text-sm text-slate-500" />
      )
    }
  </div>

  <slot />

  {
    message && (
      <p
        class={`text-sm ${messageColorClass} ${messageVisibleByGroup ? 'hidden group-[.message-visible]:block' : ''}`}
      >
        {message}
      </p>
    )
  }
</div>
